header{
    width: 100%;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.menu{
    display:flex;
    padding: 0px 50px 0px 50px;
    gap: 68px;
    text-align: center;
}

.logo{
    display: flex;
    padding: 30px 50px 30px 50px;
}

.menu-links{
    display: flex;
    border-top: 2px solid transparent;
    padding-top: 16px;
}

.menu-links:hover{
    color: #0065FC ;
    border-top-color: #0065FC;
}

@media screen and (max-width: 768px) {
    
        header{
            flex-direction: column;
            height: 115px;
            margin-bottom: 30px;
        }

    .menu-links{
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }

    .menu-links:hover{
        border-bottom: 2px solid #0065FC;
    }

    .logo{
        justify-content: center;
        height: 19px;
    }

    .menu{
        display: grid;
        padding: 0;
        grid-template-rows: 36px 36px;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }

    .menu-links{
        justify-content: center;
        padding: 0px;
    }
}